<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login/Signup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/login.css">
  <script src="/Javascript/log in.js" defer></script>
</head>
<body>

  <div class="container">
    <h1>Welcome Back</h1>
    <h2 class="login-title">Log in</h2>

    <form>
      <input type="email" id="email" placeholder="Email" required>
      <input type="password" id="password" placeholder="Password" required>

      <a href="/templates/forget-password.html" class="forgot">Forgot password?</a>

      <button type="submit" id="log_in">Log in</button>
    </form>

    <p class="or">Or log in with</p>

    <div class="social-icons">
      <img src="/static/google.jpg" alt="Google">
      <img src="/static/facebook.jpg" alt="Facebook">
      <img src="/static/linkdin.jpg" alt="LinkdIn">
    </div>

    <p class="switch">
      Don't have an account? <a href="/template/sign up.html">Sign up</a>
    </p>
  </div>

</body>
</html>