<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup/Login</title>

  <!-- VERY IMPORTANT -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Javascript/sign up.js" defer></script>
  <link rel="stylesheet" href="/static/Chatsignup.css">
</head>
<body>
  <div class="container">
    <h1>Welcome</h1>
    <h2 class="signup">Sign-up</h2>

    <form>
      <input type="name" id="User-Name" placeholder="User-Name">
      <input type="email" id="Email"  placeholder="Email" required>
      <input type="password" id="password" placeholder="Password" required>

      <button type="submit" id="sign_up">Sign-up</button>
    </form>

    <p class="or">Or continue with</p>

    <div class="social-icons">
      <img src="/static/google.jpg" alt="Google">
      <img src="/static/facebook.jpg" alt="Facebook">
      <img src="/static/linkdin.jpg" alt="LinkdIn">
    </div>
     <p class="switch">
    Have an account? <a href="/templates/Loginchat.html">Login</a>
    </p>
  </div>

</body>
</html>