* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color:black;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/static/Purple\ and\ White\ Minimalist\ Geometric\ Portfolio\ Cover\ Page\ A4\ Document_20251229_003858_0000.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* MAIN CARD */
.container {
  background-image: url(/static/Blue\ Modern\ Business\ Card_20260101_225523_0000.png);
  width: 90%;
  max-width: 420px;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* TEXT */
h1 {
  margin-bottom: 10px;
}


.switch a {
  color:blue;
  text-decoration: none;
  margin-bottom: 25px;
}

/* INPUTS */
input {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  margin-bottom: 15px;
  font-size: 14px;
}

/* FORGOT PASSWORD */
.forgot {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ff1e00;
  text-decoration: none;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: white;
  color:  #6a6adf;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
    background-color: #2d2dd3;
    color: beige;
}

button:active{
 opacity:0.15;
}

/* SOCIAL */
.or {
  margin: 20px 0 10px;
  font-size: 14px;
}


.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}


/* 📱 SMALL PHONES */
@media (max-width: 480px) {
  h1 {
    font-size: 22px;
  }

  .container {
    padding: 20px;
  }
}

/* 💻 TABLETS */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 500px;
  }
}

/* 🖥️ DESKTOPS */
@media (min-width: 769px) {
  .container {
    max-width: 450px;
  }
}